body {
    
    background-color: #E2E7EB;
}
.c-card {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .c-card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }





